{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
    <div class="new-entry">
        <h2>New Entry</h2>
        <form method='POST' action=''>
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="six columns">
                  {{ render_field(form.title) }}
                </div>
                <div class="six columns">
                  {{ render_field(form.date) }}
                </div>
              </div>
              <div class="row">
                <div class="six columns">
                  {{ render_field(form.time_spent) }}
                </div>
                <div class="six columns">
                  {{ render_field(form.learnt) }}
                </div>
                  <div class="six columns">
                  {{ render_field(form.resourcesToRemember) }}
                </div>
                </div>
                  <div class="six columns">
                  {{ render_field(form.tags) }}
                </div>
              </div>
              <div class="u-full-width">
                <input type="submit" class="button" value="Publish Entry">
                  <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
              </div>
        </form>
    </div>
{% endblock %}
